<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style_first.css">
<!-- <link rel="stylesheet" href="nav_partial.css"> -->
  <title>First-Year</title>
</head>

<body>
<%- include('../partials/navbar.ejs'); %>
  <!--Navigation bar starts-->

  <h1>First Year</h1>
  
  <ul>
    <li>
      <a class="physics-group" href="#physics-group"><label for="icon" class="fa fa-book icon"></label>Physics-Group
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>


    <li><a class="chemistry-group" href="#chemistry-group"> <label for="icon"
          class="fa fa-book icon"></label>Chemistry-Group</a></li>

    <form>
      <label for="search-box" class="fa fa-search icon"></label>
      <input type="search" placeholder="search by names" id="search-box"  onkeyup="searchFun()">
    </form>

  </ul>
  <!--Navigation bar ends-->


  <!----------------------------------Physics-Group starts--------------------->

  <section class="physics-group" id="physics-group">
    <h2 class="heading"><span>PHYSICS-GROUP</span></h2>
    <h2 class="heading"><span>quantums pdf</span></h2>
    <div class="physics-group-slider">
      <div class="wrapper container">
        <div class="box">
          <div class="image">
            <img src="favicon.png" alt="book1">
           </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/118jiWqH_W8wlMHY4dYScY9lxHZsQBqnq/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Physics</h3>
          </div>
          <!-- <a class="download-button">Download</a> -->
        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1mn6HaXxZtaszWUVTjhjOKHZ82Hs3SYtZ/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Basic Electrical engineering</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1hULfzL0YgZZ3gUA6Pufd0ScOJ8NqmgY1/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>mathematics-1</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1-qYGEijF2PMpl11RPkLBpEIre4WCiMdr/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Artificial Intelligence</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="#" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Book 5</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="#" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Book 6</h3>
          </div>
        </container>
        </div>
    
    </section>
        <!-- <div class="subgroup"> <h3>2) Notes</h3></div> -->
 <h2 class="heading"><span>notebooks pdf</span></h2>
        </div>
      </div>
      <div class="physics-group-slider">
        <div class="wrapper container">
          <div class="box">
  
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 1</h3>
            </div>
            <!-- <a class="download-button">Download</a> -->
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="https://drive.google.com/drive/folders/1u8qfON_LKxI0q7tJpH53xfufrX1h3eDa?usp=sharing" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Basic Electrical Eng.</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 3</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="https://drive.google.com/drive/folders/1oAlaxzfpJENY83ZEhwpQUf6vDmIcS4Yz?usp=sharing" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>PPS</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 5</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 6</h3>
            </div>  
          </div>
       </section>
    </container>
          <!-- <div class="subgroup"> <h3>2) Notes</h3></div> -->
   <!-- <h2 class="heading"><span>notebooks pdf</span></h2> -->
        
          </div>
  
        </div>




  <!-------------------------------- Physics-Group ends ------------------>
  <!-------------------------------- Chemistry Group Starts -------------->

  <section class="physics-group" id="chemistry-group">
    <h2 class="heading"><span>CHEMISTERY-GROUP</span></h2>
    <h2 class="heading"><span>quantums pdf</span></h2>
    <div class="physics-group-slider">
      <div class="wrapper container">
        <div class="box">


          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            <!-- &nbsp; -->
            <a href="https://drive.google.com/file/d/1hbGV-eGfTuoECzMKhZFAKH735duwAyuE/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Chemistry</h3>
          </div>
          <!-- <a class="download-button">Download</a> -->
        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1-vdpb5q5AgL8RAT-u0Pm7Ow1rdxlA4dT/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Electronics Engineering</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1-zePIwoAkME8vcuk8GOrXoDGHO2_VVGv/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Emerging Technology</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="https://drive.google.com/file/d/1-0CJLSI5L9bXdhRs4TNv9JpimUKbhemt/view?usp=sharing" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Mechanical</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="#" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Book 5</h3>
          </div>

        </div>
        <div class="box">

          <div class="image">
            <img src="favicon.png" alt="book1">
          </div>
          <div class="icons">
            <a href="#" class="fa fa-heart icon"></a>
            &nbsp;
            <a href="#" class="fa fa-download icon"></a>
          </div>
          <div class="content">
            <h3>Book 6</h3>
          </div>
        </container>
        </div>
    </section>
        <!-- <div class="subgroup"> <h3>2) Notes</h3></div> -->
 <h2 class="heading"><span>notebooks pdf</span></h2>
      
        </div>

      </div>


      <div class="physics-group-slider">
        <div class="wrapper container">
          <div class="box">
  
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="https://drive.google.com/drive/folders/10cYwrpWV6BELxll1u44meDJBcWbY7eO2?usp=sharing" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Chemistry</h3>
            </div>
            <!-- <a class="download-button">Download</a> -->
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 2</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 3</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 4</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 5</h3>
            </div>
  
          </div>
          <div class="box">
  
            <div class="image">
              <img src="favicon.png" alt="book1">
            </div>
            <div class="icons">
              <a href="#" class="fa fa-heart icon"></a>
              &nbsp;
              <a href="#" class="fa fa-download icon"></a>
            </div>
            <div class="content">
              <h3>Book 6</h3>
            </div>
          </container>
          </div>
      </section>
          <!-- <div class="subgroup"> <h3>2) Notes</h3></div> -->
   <!-- <h2 class="heading"><span>notebooks pdf</span></h2> -->

        
          </div>
  
        </div>




 
  <!-------------------------------- Chemistry-Group ends ------------------>
  <%- include('../partials/header.ejs'); %>
  <script>
        
    function searchFun(){
       let filter = document.getElementById('myInput').value.toUpperCase();
    let myTable =document.getElementById('myTable');

    let tr =myTable.getElementsByTagName('tr');
   
    for(var i=0;i<tr.length;i++){
       let td =tr[i].getElementsByTagName('td')[0];
       
       if(td){
           let textvalue =td.textContent || td.innerHTML;

           if(textvalue.toUpperCase().indexOf(filter) > -1){

               tr[i].style.display = "";
           }else{
               tr[i].style.display="none";
           }
       }
    }
    }


</script>
</body>

</html>