<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eduacation-free provided</title>
    <link rel="stylesheet" href="style_index.css">
   
</head>
<body>
    <!-- <div class="navbar  h-nav-resp"  id="navigation">
        
            <div class="logo " id="book_logo"><img src="img/book_logo1.png" alt="logo"></div>
            <div class="item"><a href="#home">Home</a></div>
            <div class="item"><a href="#about">About</a></div>
            <div class="item"><a href="#contact">Contact</a></div>
            <div class="item"><a href="#box">Content</a></div>
            <div class="item"><a href="/register">register</a></div>
            
        <div class="item" id="search_box">
        <input type="text" name="search" id="search">
       <button class="btn btn-sm">search</button></div>
       <div class="burger" onclick="func()">
           <div class="line"></div>
           <div class="line"></div>
           <div class="line"></div>
       </div>
      </div> -->
      <%- include('../partials/navbar.ejs'); %>

    <div class="background firstsection">
        <div class="main-box">
            <div class="firsthalf">
                      <h1 >welcome to the E-library</h1>
             <p>
              Tech-Library is a platform where students will find all the Study Material 
              that they need in their study for about free of cost. No hidden costs and 
              fully
              <br>
              Lets go...
             </p>
             <div class="button">
                 <button class="home_btn">subscribe</button>
                 <button class="home_btn"><a href="https://www.youtube.com"> watch video</button></a>
             </div>
            </div>
            <!-- <div class="secondhalf">
                <img src="d1.jfif" alt=""> 
            </div> -->
        </div>
      </div>
      <div id="box">
      <div id="heading"><h1 >Study material for btech</h1></div>
      <div id="content">
      <div class="container">
        <div class="row1"> <h1>Btech first year</h1></div>
        <div class="row2"><p>
          Get ready to explore all your favorite books like Quantums, course books, and handwritten notes.
          Books Can never take place of notes so we have handwritten notes in good handwriting of the best teachers of AKTU just for you and that is absolutely free.

        </p></div>
        <div class="row3"><a href="/btech_first" class="btn">visit page</a></div>
      </div>
      <div class="container">
        <div class="row1"> <h1>Btech second year</h1></div>
        <div class="row2"><p>
          Get ready to explore all your favorite books like Quantums, course books, and handwritten notes.
          Books Can never take place of notes so we have handwritten notes in good handwriting of the best teachers of AKTU just for you and that is absolutely free.

        </p></div>
        <div class="row3"><a href="/btech_second" class="btn">visit page</a></div>
      </div>
      <div class="container">
        <div class="row1"> <h1>Btech Third year</h1></div>
        <div class="row2"><p>
          Get ready to explore all your favorite books like Quantums, course books, and handwritten notes.
          Books Can never take place of notes so we have handwritten notes in good handwriting of the best teachers of AKTU just for you and that is absolutely free.

        </p></div>
        <div class="row3"><a href="/btech_third" class="btn">visit page</a></div>
      </div>
      <div class="container">
        <div class="row1"> <h1>Btech fourth year</h1></div>
        <div class="row2"><p>
          Get ready to explore all your favorite books like Quantums, course books, and handwritten notes.
          Books Can never take place of notes so we have handwritten notes in good handwriting of the best teachers of AKTU just for you and that is absolutely free.

        </p></div>
        <div class="row3"><a href="/btech_fourth" class="btn">visit page</a></div>
      </div>
         </div>
        </div>
      <div id ="contact" >
        
        <form  method ="POST" action="/contact" >
        <div class="message"><h1>Contact Us</h1></div>
        <div class = "form">
          <h3>Name</h3>
          
            <input type="text" name="name" class="input" placeholder="Enter your name"><br>
            <h3>Address</h3>
            <input type="text" name="locallity"  class="input" placeholder="Enter your locality"><br>
            <h3>Phone Number</h3>
            <input type="text" name="phone"  class="input"  placeholder="Enter your phone number"><br>
            <h3>Email</h3>
            <input type="email" name="email" class="input" placeholder="Enter your email"><br>
            <h3>Message</h3>
           <textarea class="input" name ="message" cols="30" rows="5"></textarea><br>
            <!-- <button class="row3 btn-form">Submit</button> -->
            <input type="submit" name="" class="row3 btn-form" value="Submit">
        
        </div>
      </form>
   

      </div>
     <!-- <footer  >
        <h3 class = "text-footer">
        Copoyright &copy; 2027 - All Right Reserved
        </h3> -->
   
    </footer>
    <%- include('../partials/header.ejs'); %>

    <!-- <script src="js/resp.js"></script> -->
    <script>
    
    function func() {
      var items = document.getElementsByClassName('item');
      var book_logo=document.getElementById("book_logo")
      for (var i = 0; i < items.length; i ++) {
  if (items[i].style.display === "block") {
        items[i].style.display = "none";
        items[i].style.margin = "0px";
       
      } else {
        items[i].style.display = "block";
        items[i].style.margin = "3px";
      }
      
}
// if(book_logo.style.margin=="0px")
// book_logo.style.margin="7px";
// else book_logo.style.margin="0px";
// if(style.display === "block")
// book_logo.style.display = "none"
// else book_logo.style.display = "block"

var search=document.getElementById("search_box");
search.style.display="none";
var navbar=document.getElementById("navigation");
if(navbar.style.flexDirection=="column")
navbar.style.flexDirection="row"
else navbar.style.flexDirection="column"
    }</script>
  
    </script>
</body>
</html>